@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --paragraph-color: #565a64;
}
* {
  margin: 0;
  padding: 0;
  max-width: 1440px;
  font-family: "Azeret Mono", monospace;
}
